WebServiceConsumer/WebServiceConsumer/Service References/EmployeeListService/EmployeeListService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ITMD466/" targetNamespace="http://ITMD466/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EXT" type="tns:EXT" />
  <xs:element name="EXTResponse" type="tns:EXTResponse" />
  <xs:element name="Exception" type="tns:Exception" />
  <xs:complexType name="EXT">
    <xs:sequence>
      <xs:element minOccurs="0" name="extension" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EXTResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:employee" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="employee">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" type="xs:string" />
      <xs:element minOccurs="0" name="birthDate" type="xs:string" />
      <xs:element minOccurs="0" name="cellPhone" type="xs:string" />
      <xs:element minOccurs="0" name="city" type="xs:string" />
      <xs:element minOccurs="0" name="dateHired" type="xs:string" />
      <xs:element minOccurs="0" name="driverLicenseNo" type="xs:string" />
      <xs:element minOccurs="0" name="emailAddress" type="xs:string" />
      <xs:element minOccurs="0" name="employeeID" type="xs:string" />
      <xs:element minOccurs="0" name="extension" type="xs:string" />
      <xs:element minOccurs="0" name="firstName" type="xs:string" />
      <xs:element minOccurs="0" name="homePhone" type="xs:string" />
      <xs:element minOccurs="0" name="jobTitle" type="xs:string" />
      <xs:element minOccurs="0" name="lastName" type="xs:string" />
      <xs:element minOccurs="0" name="postalCode" type="xs:string" />
      <xs:element minOccurs="0" name="SSN" type="xs:string" />
      <xs:element minOccurs="0" name="salary" type="xs:string" />
      <xs:element minOccurs="0" name="state" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>