WebServiceConsumer/WebServiceConsumer/Service References/ItemListService/ItemListService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ITMD466/" targetNamespace="http://ITMD466/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Exception" type="tns:Exception" />
  <xs:element name="ItemID" type="tns:ItemID" />
  <xs:element name="ItemIDResponse" type="tns:ItemIDResponse" />
  <xs:complexType name="ItemID">
    <xs:sequence>
      <xs:element minOccurs="0" name="itemID" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="item">
    <xs:sequence>
      <xs:element minOccurs="0" name="itemDescription" type="xs:string" />
      <xs:element minOccurs="0" name="itemID" type="xs:string" />
      <xs:element minOccurs="0" name="itemName" type="xs:string" />
      <xs:element minOccurs="0" name="price" type="xs:string" />
      <xs:element minOccurs="0" name="quantity" type="xs:string" />
      <xs:element minOccurs="0" name="transactionID" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>